@font-face {
  font-family: "samurai-blast";
  src: url("/assets/fonts/SamuraiBlast-8MnyD.otf") format("opentype"),
    url("/assets/fonts/misc/SamuraiBlast.woff") format("woff"),
    url("/assets/fonts/SamuraiBlast-YznGj.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "samurai-blast";
}
p {
  background: -webkit-linear-gradient(#00ffff,#8dd5d5, #d24e4e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.button {
  background: linear-gradient(to bottom left, #902cff, #3f1371);
  color: #00ffff;
  cursor: pointer;
  border-radius: 35px;
  box-shadow: 1px 1px 5px black;

}
.button:hover {
  background: linear-gradient(to bottom right, #902cff, #3f1371);
}
